@page
@model DotNetLab12.Pages.Shops.PaymentConfirmationModel
@{
    <h1>Order Confirmed!</h1>

    <p>Name is @Model.Name</p>
    <p>Address is @Model.Address</p>
    <p>PaymentMethod is @Model.PaymentMethod</p>

}
